*{
  padding: 0;
  margin: 0;
}.navigation-bg li {
  background-color: #232b48;
  border: rgb(124, 124, 124) solid;
  border-width: 1px 0;
}
.navigation-bg {
  background-color: hsl(224, 24%, 15%);
}
.navigation-menu {
  background-color: hsl(224, 24%, 15%);
  color: white;
  height: 100%;
  width: 100%;
}
.navigation-menu p {
  background-color: #1e2331;
  color: rgb(216, 216, 216);
  margin: 0;
  padding: 10px 0;
  padding-left: 20px;
}
.no-border {
  border-radius: 0;
}
.best-bg {
  background-color: #232b48;
}
.custom-bg {
  background-color: #f6f7fa;
}
.custom-bg input::placeholder {
  color: rgb(168, 168, 168);
}
